@{
    ViewData["Title"] = "SAURIA";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:darkgreen;border-radius:20px;">
    <h2>
        Created by Dead Sound <i class="fa fa-youtube-play" style="font-size:36px;color:red"></i>
    </h2>
</div>
<div class="ms-4">
    <p>
        Watch Dead Sound's latest animated series set in a dark fantsy medieval world filled with Dinosaurs
    </p>
    <p>Enjoy the 3 part series, each epiosode being between 7 and 10 minutes long</p>
    <p>You can watch the entire series on Dead Sound's offical YouTube Channel</p>
    <p>
        Dead Sound prevously created more realistic and historically accurate dinosaur series titled Dinosauria. View the entire playlist at <a href="https://www.youtube.com/watch?v=uQJWcrjC_OY&list=PLZ5VEKOKH8PCoo-gp50NgGhm3CNPAhgle&ab_channel=DeadSound color">Playlist</a>
    </p>
</div>