@{
    ViewData["Title"] = "SAURIA";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:darkgreen;border-radius:20px;">
    <h2>Created by Dead Sound <i class="fa fa-youtube-play" style="font-size:36px;color:red"></i></h2>
    <h3>A dark fantasy world featuring both Dinosuars and Dinosauresc Humanoids</h3>
</div>
<div class="ms-3">
    <address>
        Dead Sounds Youtube Description<br />
        "My name is David James Armsby. I was born in May 1996, in Scotland. I was homeschooled and spent all my teen years inside, learning new skills and working on elaborate projects. <br />
        This is when I learned to animate, draw, paint, sculpt, make films, etc. All my animation and film-making skills are self-taught. <br />
        I started animating in 2012, and through a monumental amount of trial and error; I managed to learn how to create original films on my own.<br />
    </address>

    <address>
        <strong>FaceBook:</strong>   <a href="https://www.facebook.com/davidarmsbyartist/">Follow Dead Sound's FaceBook</a><br />
        <strong>Sales/Marketing:</strong> <a href="https://www.patreon.com/davidarmsby">Support Dead Sound's animations</a>
    </address>
</div>