@{
    ViewData["Title"] = "SAURIA";
}

<div class="p-5 mb-4 shadow" style="background-color:darkgreen;border-radius:20px;">
    <h1>Dead Sound's SAURIA <i class="fa fa-youtube-play" style="font-size:36px;color:red"></i></h1>
    <p class="lead">
        Dead Sound's three part animated series featuring a dark fantsy medieval world filled with Dinosaurs and sourcery
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Setting</h2>
        <p>
            The story takes place in a medieval dinosaur filled continent where various species war for survival.<br />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Factions</h2>
        <p>The main three intelligent species trying to survive are The Blue Song Empire, The Kindred of the Tusk, and the often elusive Arctic Saurians</p>
    </div>
    <div class="col-md-4">
        <h2>Mystery</h2>
        <p>There was once a fouth intelligent Saurian that existed long before the other three speices before they disapeared one day. The Blue Song Empire was able to build off their foundations to become the largest current faction on the continet</p>
    </div>
</div>
<div class="row">
    <img src="~/images/Title.jpg" alt="SAURIA Title" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/images/fight.jpg" alt="Blue Song Empire VS Kindred of the Tusk" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
    <img src="~/images/mural.jpg" alt="Mysterious Mural" asp-append-version="true"
         class="float-sm-start img-fluid col-sm-4  shadow rounded-sm" />
</div>

